In [15]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from sklearn.decomposition import PCA

In [16]:
df = pd.read_csv('../Data_Cleaning/Data/gurgaon_properties_post_feature_selection_v3.csv').drop(columns=['store room', 'floor_category', 'balcony'])

In [17]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,flat,sector 36,0.82,3.0,2.0,New Property,850.0,0.0,0.0,Low
1,flat,sector 89,0.95,2.0,2.0,New Property,1226.0,1.0,0.0,Low
2,flat,sohna road,0.32,2.0,2.0,New Property,1000.0,0.0,0.0,Low
3,flat,sector 92,1.60,3.0,4.0,Relatively New,1615.0,1.0,1.0,High
4,flat,sector 102,0.48,2.0,2.0,Relatively New,582.0,0.0,0.0,High

In [18]:
df['agePossession'] = df['agePossession'].replace({'Relatively New':'new', 'Moderately Old':'old', 'New Property' : 'new', 'Old Property' : 'old', 'Under Construction' : 'under construction'})

In [19]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,flat,sector 36,0.82,3.0,2.0,new,850.0,0.0,0.0,Low
1,flat,sector 89,0.95,2.0,2.0,new,1226.0,1.0,0.0,Low
2,flat,sohna road,0.32,2.0,2.0,new,1000.0,0.0,0.0,Low
3,flat,sector 92,1.60,3.0,4.0,new,1615.0,1.0,1.0,High
4,flat,sector 102,0.48,2.0,2.0,new,582.0,0.0,0.0,High

In [20]:
df['property_type'] = df['property_type'].replace({'flat':0,'house':1})

In [21]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,0,sector 36,0.82,3.0,2.0,new,850.0,0.0,0.0,Low
1,0,sector 89,0.95,2.0,2.0,new,1226.0,1.0,0.0,Low
2,0,sohna road,0.32,2.0,2.0,new,1000.0,0.0,0.0,Low
3,0,sector 92,1.60,3.0,4.0,new,1615.0,1.0,1.0,High
4,0,sector 102,0.48,2.0,2.0,new,582.0,0.0,0.0,High

In [24]:
df['luxury_category'] = df['luxury_category'].replace({'Low':0,'Medium':1, 'High':2})

In [25]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,0,sector 36,0.82,3.0,2.0,new,850.0,0.0,0.0,0
1,0,sector 89,0.95,2.0,2.0,new,1226.0,1.0,0.0,0
2,0,sohna road,0.32,2.0,2.0,new,1000.0,0.0,0.0,0
3,0,sector 92,1.60,3.0,4.0,new,1615.0,1.0,1.0,2
4,0,sector 102,0.48,2.0,2.0,new,582.0,0.0,0.0,2

In [26]:
new_df = pd.get_dummies(df, columns=['sector', 'agePossession'], drop_first=True)

In [27]:
X = new_df.drop(columns=['price'])
y = new_df['price']

In [28]:
y_log = np.log1p(y)

In [29]:
y_log

0       0.598837
1       0.667829
2       0.277632
3       0.955511
4       0.392042
          ...
3549    0.314811
3550    1.945910
3551    0.470004
3552    2.803360
3553    1.022451
Name: price, Length: 3554, dtype: float64

In [31]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [33]:
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [34]:
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(LinearRegression(), X_scaled, y_log, cv=kfold, scoring='r2')

In [36]:
scores.mean(), scores.std()

(0.8512613057405425, 0.016992929105286273)

In [37]:
lr = LinearRegression()

In [39]:
lr.fit(X_scaled, y_log)

LinearRegression()

In [40]:
lr.coef_

array([ 1.20165036e-01,  5.40015778e-02,  6.51193988e-02,  2.10637561e-01,
        5.09461847e-02,  8.28171481e-03,  6.18569187e-03,  9.81917509e-03,
       -2.27136751e-02, -5.19263751e-03,  5.24027544e-03,  2.69999569e-02,
       -2.90628642e-03,  1.96385005e-03, -1.93922433e-02,  5.72258238e-04,
       -1.29872300e-02,  1.68170547e-02,  2.61496408e-02, -1.49660399e-02,
        8.73379008e-03,  1.62286944e-02,  3.08257676e-02,  3.21709327e-02,
       -1.94575986e-02, -1.22503903e-02,  2.87410970e-02,  3.29139011e-03,
        1.39170889e-02,  6.72176140e-03, -9.41789321e-03,  3.54737020e-02,
        2.19599278e-03,  1.77019789e-02,  5.75604298e-02,  7.38834785e-02,
        6.74158385e-03,  4.18540805e-02, -1.27147058e-02,  6.27615381e-03,
        2.24917111e-02,  2.59569793e-02,  2.49451572e-03, -1.14658162e-02,
        1.14313378e-03,  1.21374481e-02,  2.57701788e-03, -2.07745570e-02,
        7.65349283e-03,  1.67856368e-02,  6.03752164e-02,  2.69570318e-02,
        1.58617969e-02,  1.28598727e-02,  5.41626440e-02,  3.17430014e-02,
       -1.72297943e-02,  7.18216283e-02,  2.10443533e-04,  4.84749150e-03,
        4.77635759e-02,  4.56437329e-02,  1.26161821e-02,  1.18773664e-02,
        2.52303521e-02,  2.36031705e-02,  3.18204019e-02, -1.57485005e-02,
        2.39413014e-02,  3.67191438e-02,  4.29101570e-02,  3.48405339e-02,
        2.35614842e-02,  7.10460874e-02,  5.28297760e-02,  4.09188005e-02,
        8.67820177e-03,  1.09346552e-02,  1.84268932e-02, -7.30098670e-03,
        5.52018115e-03,  1.71630841e-02, -3.27102156e-03,  3.02311567e-02,
       -1.43929417e-03,  2.21769328e-02,  2.57118679e-04,  7.78019604e-04,
       -4.29412787e-03,  1.31668013e-02, -1.34625877e-02,  1.98887698e-04,
        1.56836833e-02,  5.83181285e-04,  9.75235369e-03, -1.08282478e-03,
       -1.02957577e-02,  8.74730811e-03, -3.67080666e-03, -5.96770574e-05,
        8.60108585e-03,  2.02197856e-03, -1.32886614e-02, -1.29774114e-02,
       -1.20407225e-04, -2.85559210e-02, -3.97137146e-03, -2.52221082e-02,
       -1.03122117e-02, -2.95146415e-02, -7.89967670e-03,  1.53813156e-02])