In [1]:
import numpy as np
import pandas as pd

In [2]:
# View all rows and columns
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [3]:
# Import the data
df = pd.read_csv('../Data_Scraping/Data/Gurgaon/Independent House/ind_house.csv')

In [4]:
df.sample(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
688,12 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/12-bhk-bedroom-indepen...,DLF City Plots Phase 2,10 Crore,"₹ 400,000/sq.ft.",(23 sq.m.) Plot Area,Plot area 250(23.23 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,"Study Room,Servant Room","Kkmb108, DLF Phase 2, Gurgaon, Haryana",4 Floors,North,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...",12 bedroom with 1 study room.On every floor fl...,"['24 Fan', '1 Exhaust Fan', '12 Geyser', '1 St...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5...",B69226594
809,5 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,10.5 Crore,"₹ 29,022/sq.ft.",(336 sq.m.) Plot Area,Plot area 402(336.12 sq.m.),5 Bedrooms,5 Bathrooms,3 Balconies,"Pooja Room,Study Room,Servant Room","DLF Phase 2, Gurgaon, Haryana",3 Floors,East,5 to 10 Year Old,"['Vodafone belvedere towers metro station', 'D...",Distress sale 402 sq yards livable kothi for s...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69573494
909,16 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/16-bhk-bedroom-indepen...,NaN,16 Crore,"₹ 59,259/sq.ft.",(293 sq.m.) Plot Area,Plot area 350(292.64 sq.m.)Built Up area: 325 ...,16 Bedrooms,16 Bathrooms,3+ Balconies,"Servant Room,Study Room,Pooja Room,Store Room","Dlf Phase 2, DLF Phase 2, Gurgaon, Haryana",4 Floors,West,0 to 1 Year Old,"['Vodafone belvedere towers metro station', 'D...","Dlf phase 2 very prime location , this buildin...","['1 Water Purifier', '24 Fan', '1 Exhaust Fan'...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ...",R70235332
73,5 Bedroom House for sale in Sector 66 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Emaar MGF Marbella,NaN,"₹ 19,708/sq.ft.",(606 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5...",P69627242
459,9 Bedroom House for sale in Sector 23A Gurgaon,https://www.99acres.com/9-bhk-bedroom-independ...,NaN,5.5 Crore,"₹ 13,095/sq.ft.",(390 sq.m.) Plot Area,Plot area 4200(390.19 sq.m.),9 Bedrooms,9 Bathrooms,3+ Balconies,"Servant Room,Others","Sector 23A Gurgaon, Gurgaon, Haryana",3 Floors,South,5 to 10 Year Old,"['HUDA Sector 23 Market', 'Palam triangle', 'P...",Prime location with only 5 min walk to all bas...,"['6 Wardrobe', '18 Fan', '1 Exhaust Fan', '1 M...",NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5...",Y68229516

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037 entries, 0 to 1036
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1037 non-null   object
 1   link             1037 non-null   object
 2   society          453 non-null    object
 3   price            968 non-null    object
 4   rate             999 non-null    object
 5   area             1037 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 170.3+ KB

In [6]:
# Check for duplicates
df.duplicated().sum()

13

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
# Check for missing values
df.isnull().sum()

property_name       0
link                0
society           579
price              69
rate               38
                 ...
description         1
furnishDetails    292
features          362
rating            130
property_id         1
Length: 21, dtype: int64

In [9]:
# Columns to drop: Link, 
df.drop(columns=['link', 'property_id'], inplace=True)

In [10]:
df.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [11]:
# Renaming the columns
df.rename(columns={'rate': 'price_per_sqft'}, inplace=True)
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [12]:
# Society
df['society'].value_counts()

International City by SOBHA Phase 2    26
Emaar MGF Marbella                     26
Vipul Tatvam Villa                     24
International City by Sobha Phase 1    23
Unitech Uniworld Resorts               13
                                       ..
Jacobpura                               1
Indiabulls Centrum Park3.7 ★            1
Madan puri                              1
Signature Global Park4.0 ★              1
ROW HOUSE                               1
Name: society, Length: 185, dtype: int64

In [13]:
df['society'].isnull().sum()

579

In [14]:
df['society'] = df['society'].str.replace('nan', 'independent')

In [15]:
df['society'].value_counts().shape  # Checking number of unique socities

(185,)

In [16]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [17]:
df['society'].value_counts()

nan                                    579
emaar mgf marbella                      26
international city by sobha phase 2     26
vipul tatvam villa                      24
international city by sobha phase 1     23
                                      ...
huda flats                               1
jacobpura                                1
indiabulls centrum park                  1
madan puri                               1
huda plot sector 38                      1
Name: society, Length: 183, dtype: int64

In [18]:
# Price
df['price'].value_counts()

3.5 Crore     19
5.5 Crore     17
6.5 Crore     16
6 Crore       14
5 Crore       13
              ..
8.8 Crore      1
1.34 Crore     1
46 Lac         1
2.6 Crore      1
2.98 Crore     1
Name: price, Length: 302, dtype: int64

In [19]:
df['price'].isnull().sum()

69

In [20]:
df[df['price'] == 'Price on Request'].shape

(10, 19)

In [21]:
df = df[df['price'] != 'Price on Request']

In [22]:
# Create a function to convert all prices in same unit

def normalize_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100, 2)
        else:
            return round(float(x[0]), 2)

In [23]:
df['price'] = df['price'].str.split(' ').apply(normalize_price)

In [24]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,nan,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,nan,2.10,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,nan,5.00,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,nan,3.00,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [25]:
# price per sqft
df['price_per_sqft'].value_counts()

₹ 22,222/sq.ft.    14
₹ 11,111/sq.ft.    11
₹ 33,333/sq.ft.    11
₹ 10,000/sq.ft.    10
₹ 26,667/sq.ft.     6
                   ..
₹ 151/sq.ft.        1
₹ 25,103/sq.ft.     1
₹ 14,954/sq.ft.     1
₹ 8,784/sq.ft.      1
₹ 33,129/sq.ft.     1
Name: price_per_sqft, Length: 751, dtype: int64

In [26]:
# get only price per sqft
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹', '').str.replace(',','').str.strip().astype('float')

In [27]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
778,4 Bedroom House for sale in Sector 86 Gurgaon,dlf new town heights,2.47,7718.0,(297 sq.m.) Plot Area,Plot area 3200(297.29 sq.m.)Built Up area: 280...,4 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Servant Room","Sector 86 Gurgaon, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...",This is beautiful 4 bhk villa in dlf new town ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
709,3 Bedroom House for sale in Palam Vihar,ansals palam vihar,2.75,17662.0,(145 sq.m.) Plot Area,Plot area 173(144.65 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,"Pooja Room,Study Room","Palam Vihar, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","For sell 173 sq- Yard plot area , complete woo...","['5 Fan', '1 Exhaust Fan', '5 Geyser', '1 Ligh...","['Private Garden / Terrace', 'Maintenance Staff']","['Environment5 out of 5', 'Lifestyle5 out of 5..."
691,4 Bedroom House for sale in Palam Vihar,ansal api spanish court,2.90,18626.0,(145 sq.m.) Plot Area,Plot area 173(144.65 sq.m.)Built Up area: 1415...,4 Bedrooms,4 Bathrooms,3 Balconies,Store Room,"A, Block Ansals Palam Vihar, Palam Vihar, Gurg...",2 Floors,North,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",On sale 173 sq yrds built up house park facing...,"['4 Wardrobe', '10 Fan', '1 Exhaust Fan', '2 G...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
99,4 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,NaN,28760.0,(207 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","Eldeco mansionz in sector-48 gurgaon, gurgaon ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
240,1 Bedroom House for sale in Ashok Vihar Phase ...,nan,0.85,8500.0,(93 sq.m.) Built-up Area,Built Up area: 1000 (92.9 sq.m.),1 Bedroom,1 Bathroom,No Balcony,NaN,"Ashok Vihar Phase 3, Block B, Ashok Vihar Phas...",1 Floors,NaN,undefined,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Best 6 bhk independent house for modern-Day li...,NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."

In [28]:
# bedrooms
df['bedRoom'].value_counts()

4 Bedrooms     232
5 Bedrooms     194
3 Bedrooms     146
2 Bedrooms      88
6 Bedrooms      81
              ...
20 Bedrooms      1
21 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: bedRoom, Length: 21, dtype: int64

In [29]:
df = df[~df['bedRoom'].isnull()]

In [30]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,nan,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,nan,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,nan,5.00,43066.0,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,nan,3.00,53763.0,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [31]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [32]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
750,3 Bedroom House for sale in Nirvana Country,unitech deerwood chase,8.45,235376.0,(33 sq.m.) Plot Area,Plot area 359(33.35 sq.m.),3,3 Bathrooms,2 Balconies,"Study Room,Servant Room","Deerwood, Nirvana Country, Gurgaon, Haryana",2 Floors,North-East,10+ Year Old,"['Sector 55-56 Metro Station', 'Raheja Mall', ...",Brokers pls excuse....Independent villa availa...,"['5 Fan', '1 Exhaust Fan', '6 Geyser', '1 Stov...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
666,5 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,22.00,26667.0,(836 sq.m.) Plot Area,Plot area 1000(836.13 sq.m.),5,6 Bathrooms,3 Balconies,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",3 Floors,NaN,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A 1000 sqyd villa available for sale. The vill...,"['5 Wardrobe', '6 Fan', '10 Light', '6 AC', 'N...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
972,5 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,5.15,18885.0,(253 sq.m.) Plot Area,Plot area 303(253.35 sq.m.)Built Up area: 302 ...,5,7 Bathrooms,3 Balconies,"Pooja Room,Servant Room","Sector 48 Gurgaon, Gurgaon, Haryana",2 Floors,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Eldeco mansioz 5bhk duplex villa semi furnishe...,"['7 Fan', '1 Exhaust Fan', '4 Geyser', '15 Lig...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Safety4 out of 5', ..."
449,5 Bedroom House for sale in Sector 7 Gurgaon,huda flats,2.30,17037.0,(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),5,3 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room","693, Sector 7 Gurgaon, Gurgaon, Haryana",3 Floors,North-East,10+ Year Old,"['State bank ATM', 'Dr. Madan Clinic', 'Taneja...",It's a independent house 2 side open with huge...,"['1 Fan', '1 Exhaust Fan', '2 Light', '1 Curta...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
996,5 Bedroom House for sale in Sector 33 Gurgaon,unitech uniworld resorts,NaN,NaN,(435 sq.m.) Plot Area,Plot area 520(434.79 sq.m.),5,8 Bathrooms,3+ Balconies,"Servant Room,Store Room","A-898, Sector 33 Gurgaon, Gurgaon, Haryana",4 Floors,West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...",5 bhk 520 sqyd villas available at unitech uni...,"['5 Wardrobe', '15 Fan', '1 Exhaust Fan', '5 G...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment3 out of 5', 'Safety4 out of 5', ..."

In [33]:
# bathroom
df['bathroom'].value_counts()

4 Bathrooms     228
3 Bathrooms     165
5 Bathrooms     137
2 Bathrooms     114
6 Bathrooms      82
               ...
17 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
36 Bathrooms      1
34 Bathrooms      1
Name: bathroom, Length: 21, dtype: int64

In [34]:
df[df['bathroom'].isnull()]

Empty DataFrame
Columns: [property_name, society, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [35]:
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype('int')

In [36]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
15,6 Bedroom House for sale in New Palam Vihar Ph...,nan,2.00,14914.0,(125 sq.m.) Plot Area,Plot area 1341(124.58 sq.m.),6,4,3 Balconies,"Pooja Room,Study Room","New Palam Vihar Phase 1, Gurgaon, Haryana",3 Floors,East,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",East facing 2 fully made floor plus terrace. P...,"['6 Wardrobe', '9 Fan', '1 Exhaust Fan', '2 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN
911,4 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,4.70,18008.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),4,4,3+ Balconies,Others,"B- 186, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Planning to buy an individual house in gurgaon...,"['1 Fan', '1 Geyser', '1 Light', '1 Chimney', ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety4 out of 5', ..."
135,5 Bedroom House for sale in Sector 17C Gurgaon,sector-17c,3.05,17650.0,(161 sq.m.) Plot Area,Plot area 192(160.54 sq.m.),5,5,2 Balconies,Store Room,"Plot, Sector 17C Gurgaon, Gurgaon, Haryana",2 Floors,North,10+ Year Old,"['Iffco chowk metro station', 'Punjab national...",This is independent house for sale in sector 1...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Park', 'Visi...",NaN
368,7 Bedroom House for sale in Saraswati Vihar,nan,0.75,20833.0,(33 sq.m.) Plot Area,Plot area 40(33.45 sq.m.),7,4,3+ Balconies,NaN,"Saraswati Vihar, Gurgaon, Haryana",4 Floors,NaN,5 to 10 Year Old,"['Mg road metro station', 'Iffco chowk metro s...",This property is located in saraswati vihar ne...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...",['Water Storage'],"['Environment4 out of 5', 'Lifestyle5 out of 5..."
905,4 Bedroom House for sale in Palam Vihar,nan,4.99,18889.0,(226 sq.m.) Plot Area,Plot area 270(225.75 sq.m.),4,4,3+ Balconies,"Pooja Room,Servant Room,Store Room","Palam Vihar, Gurgaon, Haryana",3 Floors,North,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Independent dulex house with basment ground fl...,"['4 Fan', '4 Light', 'No AC', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety4 out of 5', ..."

In [37]:
# balcony
df['balcony'].value_counts()

3+ Balconies    365
2 Balconies     220
3 Balconies     159
No Balcony      115
1 Balcony       105
Name: balcony, dtype: int64

In [38]:
df['balcony'].isnull().sum()

0

In [39]:
df['balcony'] = df['balcony'].str.split(' ').str.get(0).str.replace('No', '0')

In [40]:
# additional Room
df['additionalRoom'].value_counts()

Servant Room                                     81
Pooja Room,Study Room,Servant Room,Store Room    60
Others                                           58
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               33
                                                 ..
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: additionalRoom, Length: 56, dtype: int64

In [41]:
df['additionalRoom'].value_counts().shape

(56,)

In [42]:
df['additionalRoom'].isnull().sum()

386

In [43]:
df['additionalRoom'].fillna('not available', inplace=True)

In [44]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

In [45]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
624,3 Bedroom House for sale in Sohna Road,cloudnine cottages,5.50,55000.0,(93 sq.m.) Plot Area,Plot area 1000(92.9 sq.m.),3,3,0,not available,"Sohna Road, Gurgaon, Haryana",1 Floors,NaN,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",I am looking for buyer to purchase house/villa...,[],NaN,NaN
410,4 Bedroom House for sale in Sector 69 Gurgaon,tulip yellow,2.95,16389.0,(167 sq.m.) Plot Area,Plot area 200(167.23 sq.m.),4,3,2,"pooja room,others","2914, Sector 69 Gurgaon, Gurgaon, Haryana",3 Floors,North,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'Airia Mall', '...",15 lacks + rental p.A. From gym + a luxury hom...,"['1 Water Purifier', '11 Fan', '1 Exhaust Fan'...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
113,3 Bedroom House for sale in Laxman Vihar Phase 2,nan,0.67,8557.0,(73 sq.m.) Plot Area,Plot area 87(72.74 sq.m.),3,2,1,"pooja room,others","Laxman Vihar Phase 2, Gurgaon, Haryana",1 Floors,South,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Near by railways station near by market near b...,NaN,"['Feng Shui / Vaastu Compliant', 'Water Storag...",NaN
125,3 Bedroom House for sale in Sector 7 Gurgaon,nan,2.25,15625.0,(134 sq.m.) Plot Area,Plot area 160(133.78 sq.m.),3,3,2,not available,"Sector 7 Gurgaon, Gurgaon, Haryana",2 Floors,North-West,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Dr. ...",160 square yards double story made 4 bhk house...,"['4 Wardrobe', '8 Fan', '52 Light', 'No AC', '...","['Feng Shui / Vaastu Compliant', 'Park', 'Visi...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
535,4 Bedroom House for sale in Sector 1 Gurgaon,nan,1.85,16003.0,(107 sq.m.) Carpet Area,Carpet area: 1156 (107.4 sq.m.),4,3,2,not available,"975 Friends Colony, Sector 1 Gurgaon, Gurgaon,...",3 Floors,NaN,undefined,NaN,4bhk residential house for resale in sector 1 ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN

In [48]:
# floor num
df.rename(columns={'noOfFloor': 'floorNum'}, inplace=True)

In [47]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
529,3 Bedroom House for sale in Sector 12A Gurgaon,nan,1.70,9444.0,(167 sq.m.) Built-up Area,Built Up area: 200 (167.23 sq.m.)Carpet area: ...,3,3,0,not available,"Prem Nagar, Sector 12A Gurgaon, Gurgaon, Haryana",1 Floors,NaN,undefined,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Jac...",3bhk residential house for resale in sector 12...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
606,3 Bedroom House for sale in Acharya Puri,nan,2.25,9615.0,(217 sq.m.) Plot Area,Plot area 260(217.39 sq.m.)Built Up area: 250 ...,3,2,1,"pooja room,servant room","Acharya Puri, Gurgaon, Haryana",1 Floors,North-East,10+ Year Old,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Mam...",Best quality material used everywhere,"['8 Fan', '22 Light', '3 AC', 'No Bed', 'No Ch...","['Natural Light', 'Recently Renovated']","['Environment4.5 out of 5', 'Lifestyle5 out of..."
828,4 Bedroom House for sale in Sector 54 Gurgaon,emaar the palm springs,14.00,62222.0,(209 sq.m.) Plot Area,Plot area 250(209.03 sq.m.),4,5,3+,"study room,servant room","The Palm Springs Villa, Sector 54 Gurgaon, Gur...",2 Floors,North,10+ Year Old,"['Sector 53-54 Metro Station', 'Central Plaza ...",Bathrooms\n Imported marble flooring in master...,"['5 Fan', '1 Exhaust Fan', '5 Geyser', '1 Wash...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
486,2 Bedroom House for sale in New Jyoti Park,nan,1.15,12777.0,(84 sq.m.) Carpet Area,Carpet area: 900 (83.61 sq.m.),2,2,3,not available,"67028 Jyoti Park Gurgaon, New Jyoti Park, Gurg...",4 Floors,North,undefined,"['State bank ATM', 'Ankur Clinic and Maternity...",2bhk residential house for resale in new jyoti...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
591,1 Bedroom House for sale in Sector 39 Gurgaon,nan,0.34,7555.0,(42 sq.m.) Built-up Area,Built Up area: 450 (41.81 sq.m.),1,1,1,not available,"Jharsa Village, Sector 39, Gurgaon, Sector 39 ...",1 Floors,NaN,undefined,"['Rajiv Chowk Mosque', 'State bank of india AT...",1 bhk independent house for sale in gurgaon. T...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [49]:
df['floorNum'].value_counts().shape

(20,)

In [50]:
df['floorNum'].isnull().sum()

19

In [51]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0).str.replace('Ground', '0').str.replace('Basement', '-1').str.replace('Lower', '0').str.extract(r'(\d+)')

In [52]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
451,9 Bedroom House for sale in Rattan Garden,rattan garden,1.10,8730.0,(117 sq.m.) Plot Area,Plot area 140(117.06 sq.m.),9,3,3,not available,"431, Rattan Garden, Gurgaon, Haryana",3,NaN,10+ Year Old,"['Chintapurni Mandir', 'Ravi Clinic and Health...",Old construction.....Ready to live - 9 rooms ....,NaN,['Visitor Parking'],"['Environment3 out of 5', 'Lifestyle4 out of 5..."
932,7 Bedroom House for sale in Sushant Lok Phase 1,sushant lok 1 builder floors,6.25,30728.0,(189 sq.m.) Plot Area,Plot area 226(188.96 sq.m.),7,7,3+,"store room,study room,servant room","Sushant Lok 1, Sushant Lok Phase 1, Gurgaon, H...",3,North,5 to 10 Year Old,"['Huda city centre metro station', 'Sector 42-...",This is a duplex well maintained house in sush...,NaN,"['Private Garden / Terrace', 'High Ceiling Hei...","['Environment5 out of 5', 'Safety4.5 out of 5'..."
484,1 Bedroom House for sale in Ashok Vihar Phase ...,nan,1.00,6667.0,(139 sq.m.) Built-up Area,Built Up area: 1500 (139.35 sq.m.),1,1,0,not available,"Ashok Vihar Phase 3 Extension Block H, Ashok V...",1,NaN,undefined,"['Palam triangle', 'Palam Vihar Vyapar kendra'...",1bhk villa for resale in ashok vihar phase 3 e...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
791,4 Bedroom House for sale in Mayfield Garden,nan,2.95,10926.0,(251 sq.m.) Plot Area,Plot area 300(250.84 sq.m.),4,4,2,servant room,"Mayfield Garden, Gurgaon, Haryana",4,East,1 to 5 Year Old,"['Standard chartered ATM', 'Icici bank ATM', '...",Luxurious floor for sale\nLocation - Kibithu v...,"['4 Wardrobe', '8 Fan', '4 Geyser', '1 Microwa...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4.5 out of 5', 'Lifestyle4 out of..."
349,3 Bedroom House for sale in Farukhnagar,nan,0.52,5778.0,(84 sq.m.) Plot Area,Plot area 100(83.61 sq.m.),3,2,2,not available,"Farukhnagar, Gurgaon, Haryana",2,NaN,0 to 1 Year Old,"['Dr. Manish Pandey', 'Verma Dental Clinic', '...",Interested to sell independent house/villa.Pla...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [53]:
# facing
df['facing'].isnull().sum()

303

In [54]:
df['facing'].fillna('NA', inplace=True)

In [55]:
df['facing'].value_counts()

NA            303
East          178
North-East    158
North         109
West           75
North-West     44
South-East     39
South          34
South-West     24
Name: facing, dtype: int64

In [57]:
df['area'] = round((df['price']*10000000/df['price_per_sqft']))

In [58]:
df.insert(loc=1, column='property_type', value='house')

In [59]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NA,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,nan,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,nan,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,nan,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [61]:
df.shape

(964, 20)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 964 entries, 0 to 1036
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    964 non-null    object
 1   property_type    964 non-null    object
 2   society          964 non-null    object
 3   price            945 non-null    float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     964 non-null    object
 7   bedRoom          964 non-null    int32
 8   bathroom         964 non-null    int32
 9   balcony          964 non-null    object
 10  additionalRoom   964 non-null    object
 11  address          959 non-null    object
 12  floorNum         945 non-null    object
 13  facing           964 non-null    object
 14  agePossession    964 non-null    object
 15  nearbyLocations  848 non-null    object
 16  description      964 non-null    object
 17  furnishDetails   729 non-null    object
 18  features         662 non-null    object
 19  rating           843 non-null    object
dtypes: float64(3), int32(2), object(15)
memory usage: 150.6+ KB

In [63]:
df.to_csv('../Data_Scraping/Data/Gurgaon/Independent House/house_cleaned.csv', index=False)